global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

rule_files:
  - "alert-rules/*.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
        labels:
          app: "prometheus"

  - job_name: "access-core"
    metrics_path: "/q/metrics"
    scheme: "http"
    static_configs:
      - targets: ["host.docker.internal:8080"]
        labels:
          app: "access-core"
          service: "access-core"
          env: "dev"
